.Pagination {
  display: flex;
  padding: 16px;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    background: #e6e6e6;
    border: 0;
    padding: 14px 18px;
    margin: 2px;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background: #c7c7c7;
    }

    &--active {
      &, &:hover {
        background: transparent;
      }
      cursor: default;
    }

    &--jump {
      background-color: #d2d2d2;
    }
  }
}
