.List {
  &__data {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 250px;
  }

  &__label {
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
  }

  &__value {
    font-size: 16px;
    font-weight: bold;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    background: #f3f3f3;
    border-bottom: solid 1px #e4e4e4;
    &:nth-child(2n + 1) {
      background: #e4e4e4;
      border-bottom: solid 1px #f3f3f3;
    }
  }
}
