.Characters {
  padding: 16px;
  width: 100%;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
  }
}

.Character {
  transition: background .3s;
  border-radius: 4px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  background-blend-mode: screen;
  background-color: rgba(255, 255, 255, 0.18);
  background-size: cover;
  background-position: center center;
  font-weight: bold;
  text-shadow: 0 1px 3px #000;
  font-size: 17px;
  text-align: center;

  &:hover {
    background-color: #efefef;
  }

  &--active {
    background-color: #dedede;
  }
}
