.App {
  &__header {
    text-align: center;
    margin: 24px 0;
  }
  &__logo {
    width: 200px;
  }
  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
  }
}
