.MainCharacter {
  width: 50vw;
  padding: 16px;
  position: relative;

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    background: #ccc;
    border: 0;
    width: 60px;
    height: 50px;
    cursor: pointer;
  }

  &__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    margin-bottom: 24px;
  }

  &__avatar {
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    img {
      max-height: 100%;
    }
  }

  @media (max-width: 1024px) {
    position: fixed;
    background: rgba(255, 255, 255, 0.97);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    overflow-y: scroll;
  }
}
